apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: code-with-quarkus
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/Saiteja21M/code-with-quarkus.git'
    path: k8s
    targetRevision: HEAD
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
